# essentials
python==3.9.13
pandas==2.0.0
regex==2022.7.9
json5==0.9.6
requests==2.28.1
beautifulsoup4==4.11.1


# for data visualization
plotly==5.14.1


# for data deployment
dash==2.9.2
dash-html-components==2.0.0
dash-core-components==2.0.0
dash_mantine_components==0.12.1
dash_bootstrap_components==1.4.1
dash_iconify==0.1.2


